#stylesheet {
  position: fixed;
  right:0;
  left:0;
}

.box{
  background-color:red;
  
  border : 10px solid blue;
  min-height: 30px;
  font-size: 2rem;
  display: grid;
  place-items: center;

}
